{% extends 'base.html.twig' %}

{% block title %}<title>Modifier {{ yamlfile.nameFile }}</title>{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.29.0/codemirror.css">
{% endblock %}

{% block scriptJs %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.29.0/codemirror.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.29.0/mode/yaml/yaml.js"></script>
    <script defer src="{{ asset('js/codeMirror.js') }}"></script>
{% endblock %}

{% block page_content %}
    <div class="container py-4">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 col-xl-7">

                <h1 class="text-center mb-4 fw-semibold">
                    Modifier {{ yamlfile.nameFile }}
                </h1>

                {{ include('yaml_file/components/edit_yaml_file.html.twig', {
                    yamlfile: yamlfile,
                    show_description: false,
                    cancel_path: path('fichiers_groupe', {'id': groupe.id})
                }) }}

            </div>
        </div>
    </div>
{% endblock %}
