###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=your_app_secret_here
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
# DATABASE_URL="mysql://user:password@127.0.0.1:3306/dbname?serverVersion=8.0.32&charset=utf8mb4"
DATABASE_URL=your_database_url_here
###< doctrine/doctrine-bundle ###

###> symfony/messenger ###
MESSENGER_TRANSPORT_DSN=redis://redis:6379/messages
###< symfony/messenger ###

###> symfony/mailer ###
MAILER_DSN=null://null
###< symfony/mailer ###

### API Proxmox
PROXMOX_API_URL=your_proxmox_api_url
PROXMOX_TOKEN_ID=your_token_id
PROXMOX_TOKEN_SECRET=your_token_secret
PROXMOX_HOTE=your_proxmox_host_ip

GITLAB_TOKEN_KEY=your_gitlab_token
