{% extends 'base.html.twig' %}

{% block title %}<title>Liste des conteneurs</title> {% endblock %}

{% block scriptJs %}
    <script defer type="text/javascript" src="{{ asset('js/vmStatus.js') }}"></script>
{% endblock %}

{% block page_content %}
    <div id="vm-status-box"></div>
{% endblock %}
